[submodule "Lab3SpringDataJPA/project-1-spring-data-jpa"]
	path = Lab3SpringDataJPA/project-1-spring-data-jpa
	url = https://github.com/giantconiku/project-1-spring-data-jpa.git
[submodule "Lab3SpringDataJPA/project-2-spring-data-jpa"]
	path = Lab3SpringDataJPA/project-2-spring-data-jpa
	url = https://github.com/giantconiku/project-2-spring-data-jpa.git
